<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.math_kidz.math_kidz">
    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MathKidz"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.math_kidz.math_kidz.Register"
            android:exported="false" />
        <activity
            android:name="com.math_kidz.math_kidz.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.math_kidz.math_kidz.DivisionHard"
            android:exported="false" />
        <activity
            android:name="com.math_kidz.math_kidz.DivisionMedium"
            android:exported="false" />
        <activity
            android:name="com.math_kidz.math_kidz.DivisionEasy"
            android:exported="false" />
        <activity
            android:name="com.math_kidz.math_kidz.MultiplicationHard"
            android:exported="false" />
        <activity
            android:name="com.math_kidz.math_kidz.MultiplicationMedium"
            android:exported="false" />
        <activity
            android:name="com.math_kidz.math_kidz.MultiplicationEasy"
            android:exported="false" />
        <activity
            android:name="com.math_kidz.math_kidz.SubtractionHard"
            android:exported="false" />
        <activity
            android:name="com.math_kidz.math_kidz.SubtractionMedium"
            android:exported="false" />
        <activity
            android:name="com.math_kidz.math_kidz.SubtractionEasy"
            android:exported="false" />
        <activity
            android:name="com.math_kidz.math_kidz.AdditionHard"
            android:exported="false" />
        <activity
            android:name="com.math_kidz.math_kidz.AdditionMedium"
            android:exported="false" />
        <activity
            android:name="com.math_kidz.math_kidz.AdditionEasy"
            android:exported="true" />
        <activity
            android:name="com.math_kidz.math_kidz.SubjectDifficultyDivision"
            android:exported="false" />
        <activity
            android:name="com.math_kidz.math_kidz.SubjectDifficultyMultiplication"
            android:exported="false" />
        <activity
            android:name="com.math_kidz.math_kidz.SubjectDifficultySubtraction"
            android:exported="false" />
        <activity
            android:name="com.math_kidz.math_kidz.SubjectDifficultyAddition"
            android:exported="false" />
        <activity
            android:name="com.math_kidz.math_kidz.Menu"
            android:exported="false" />
        <activity
            android:name="com.math_kidz.math_kidz.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>