<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.math_kidz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MathKidz">
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".DivisionHard"
            android:exported="false" />
        <activity
            android:name=".DivisionMedium"
            android:exported="false" />
        <activity
            android:name=".DivisionEasy"
            android:exported="false" />
        <activity
            android:name=".MultiplicationHard"
            android:exported="false" />
        <activity
            android:name=".MultiplicationMedium"
            android:exported="false" />
        <activity
            android:name=".MultiplicationEasy"
            android:exported="false" />
        <activity
            android:name=".SubtractionHard"
            android:exported="false" />
        <activity
            android:name=".SubtractionMedium"
            android:exported="false" />
        <activity
            android:name=".SubtractionEasy"
            android:exported="false" />
        <activity
            android:name=".AdditionHard"
            android:exported="false" />
        <activity
            android:name=".AdditionMedium"
            android:exported="false" />
        <activity
            android:name=".AdditionEasy"
            android:exported="true" />
        <activity
            android:name=".SubjectDifficultyDivision"
            android:exported="false" />
        <activity
            android:name=".SubjectDifficultyMultiplication"
            android:exported="false" />
        <activity
            android:name=".SubjectDifficultySubtraction"
            android:exported="false" />
        <activity
            android:name=".SubjectDifficultyAddition"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>